<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="offline_1.sdlab.com.fifaalarm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiverClass">
            <intent-filter>
                <action android:name="me.proft.alarms.ACTION_ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DeviceReboot"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".groupActivity" />
        <activity android:name=".AllGroups.GroupA" />
        <activity android:name=".AllGroups.GroupB" />
        <activity android:name=".AllGroups.GroupC" />
        <activity android:name=".AllGroups.GroupD" />
        <activity android:name=".AllGroups.GroupE" />
        <activity android:name=".AllGroups.GroupF" />
        <activity android:name=".AllGroups.GroupG" />
        <activity android:name=".AllGroups.GroupH" />
        <activity android:name=".Historyactivity" />
        <activity android:name=".Allyear.year2018" />
        <activity android:name=".Allyear.year2014" />
        <activity android:name=".Allyear.year2010" />
        <activity android:name=".Allyear.year2006" />
        <activity android:name=".Allyear.year2002" />
        <activity android:name=".Allyear.year1998" />
        <activity android:name=".Allyear.year1994" />
        <activity android:name=".Allyear.year1990" />
        <activity android:name=".alarm" />
        <activity android:name=".testalarm" />
        <activity android:name=".Finalalarm" />
        <activity android:name=".InsertTime"></activity>
    </application>

</manifest>